@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #fe2c55;
  --gray-bg-color: #f1f1f2;
  --gray-text-color: #161823bf;
  --black-text-color: #161823;
  --white: #fff;
  --black: #000;

  --default-layout-height-header: 60px;
  --default-layout-width: 1150px;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../../assets/fonts/SofiaProLight.woff2') format('woff2'),
    url('../../assets/fonts/SofiaProLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VL Proxima Nova Th';
  src: url('../../assets/fonts/VL-ProximaNovaT-Thin.woff2') format('woff2'),
    url('../../assets/fonts/VL-ProximaNovaT-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VL Proxima Nova Rg';
  src: url('../../assets/fonts/VL-ProximaNova-Bold.woff2') format('woff2'),
    url('../../assets/fonts/VL-ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

//hide scrollbar
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'VL Proxima Nova Rg';
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input {
  font-family: 'VL Proxima Nova Rg';
  border: none;
  outline: none;
  background: transparent;
}

button {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

a {
  text-decoration: none;
}
