@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProLight.woff2') format('woff2'),
        url('SofiaProLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VL Proxima Nova Th';
    src: url('VL-ProximaNovaT-Thin.woff2') format('woff2'),
        url('VL-ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VL Proxima Nova Rg';
    src: url('VL-ProximaNova-Bold.woff2') format('woff2'),
        url('VL-ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

